body {
    margin: 0;
    background-color: #0F0F0F;
    font-family: 'Helvetica';
    font-weight: 700;
}

.nav {
    margin-top: 5em;
    margin-left: 5em;
    margin-right: 5em;
}
#logo {
    float: left;
    width: 162px;
    height: 64px;
    background-image: url();
    background-color: antiquewhite;
}

#menu {
    float: right;
    width: 34px;
    height: 26px;
    background-image: url();
    background-color: antiquewhite;
}

.container {
    width: 100vw;
    background: #6C7A89;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.texthome {
    width: auto;
    position: absolute;
    top: 45vh;
    line-height: 45px;
    font-size: 50px;
    color: white;
}

.arrow {
    left: 50%;
    position: absolute;
    bottom: 6em;
    width: 42px;
    height: 18px;
    background-image: url();
    background-color: aliceblue
}

#portifolio {
    color: white;
    position: absolute;
    width: 100%;
    height: auto;
    top: 100vh;
    background-color: #F2F2F2;
}

.margin {
    margin: -3em 5em 0em 5em
}

.square {
    background-color: blue;
    float:left;
    width: 25%;
    padding-bottom : 25%;
    background-position:center;
    background-size: cover; 
}

.square:nth-child(1) {
width: 26%; background-color: azure;}

.square:nth-child(2) {
width: 37%; background-color: aqua;}

.square:nth-child(3) {
width: 37%; background-color:bisque;}

.square:nth-child(4) {
width: 50%; padding-bottom: 50%; background-color: blue;}

.square:nth-child(5) {
width: 50%; background-color: aqua;}

.square:nth-child(6) {
width: 50%; background-color:bisque;}

.square:nth-child(7) {
width: 70%; background-color: azure;}

.square:nth-child(8) {
width: 30%; background-color: aqua;}

.square:nth-child(9) {
width: 100%; padding-bottom: 10em; background-color: #F2F2F2;}



#falacomigo {
    padding: 2.5em;
    clear: both;
    font-size: 35px;
    width: calc(100% - 5em);
    height: auto;
    background-color: #FAF172;
    display: block;
}


#falacomigo, li {
    margin-left: 2em;
    float: right;
    display: inline-block;
}

il{left: 2em; position: absolute; text-decoration: underline}


#rodape {
    padding: 2.5em;
    clear: both;
    font-size: 35px;
    width: calc(100% - 5em);
    height: auto;
    background-color: #0F0F0F;
}
